/jpinput/
.config/ranger/plugins/__pycache__/
.config/ranger/plugins/ranger_devicons/__pycache__/
.config/lazygit/state.yml
.config/nvim/plugin/
.config/lazygit/state.yml
.dotties
.config/zsh/plugins
