[Unit]
Description=Mount Synology Workstation at boot

[Mount]
What=//synologyserver/workstation
Where=/mnt/workstation
Options=_netdev,credentials=/home/afa/secrets/synology_samba,iocharset=utf8,rw
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
